@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

body,
html {
  height: 100%;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

#main {
  background-image: url("https://images.unsplash.com/photo-1591189863345-9db058f9f8ec?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1972&q=80");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

/* START NAV */

.navbar {
  font-size: large;
  font-weight: lighter;
}

.navbar .navbar-brand {
  color: orange;
  font-weight: bold;
}

.navbar-toggler-icon {
  color: black;
}

#navbarNav {
  flex-direction: column;
  align-items: flex-end;
}

#navbarNav a {
  color: rgb(0, 0, 0);
  font-weight: lighter;
}

#navbarNav a:hover {
  color: rgb(255, 145, 0);
}

/* END NAV BAR */

.inactive {
  display: none;
}

#noResults {
  margin: auto;
}

.card {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 250px;
  padding: 1rem;
}

#card-body {
  padding-bottom: 3rem;
  width: 100%;
  background-color: none;
}

.card h4 {
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 3rem;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

input {
  text-indent: 13px;
  width: 100%;
}

.searchBox {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  border-radius: 40px;
  width: 50%;
  max-height: 40px;
  min-width: 235px;
}

.searchBox button {
  outline: none;
  border: none;
}

.search-btn {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  outline: none;
  border-style: none;
}

.search-txt {
  /* float: left; */
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  font-weight: bold;
  width: 100%;
  border-radius: 40px;
}

/* CARD RESULTS */

.card {
  margin: 2rem;
}

#recipeDisplay {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.saved {
  background-color: red;
}
